body{
background-image: url(good.jpg);
background-position: 50% 50%;
background-size: cover;
text-align: center;
color: white;
font-size: 36px;
font-weight: 700;
text-transform: uppercase;
font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
letter-spacing: 2px;
}